@CHARSET "UTF-8";


body {
	background: #FFF;
	color: #333;
	font-size: 14px;
	font-family: Arial, sans-serif;	
}

p {
	line-height: 1.65em;
}

a:link {
	color: #0645AD;
	
}

a:visited {
	color: #663366;
}

/* Site Header */
.site-header {
	border-bottom: 1px solid #999;
}

.site-header h1 a {
	text-decoration: none;
	color: #000;
	
}

/* Site Footer */
.site-footer {
	border-top: 1px solid #999;
	margin-top: 30px;
	
}

div.container {
	max-width: 920px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

article.post {
	border-bottom: 2px dotted #bbbbbb;
}

article.post:last-of-type {
	border-bottom: none;
}

/* Navigation Menus */
.site-nav ul {
	margin: 0;
	padding: 0;
}

.site-nav ul:before, .site-nav ul:after { content: ""; display: table; }
.site-nav ul:after { clear:both; }
.site-nav ul { *zoom: 1; }

.site-nav ul li {
	list-style: none;
	float: left;
}

.site-nav ul li a {
	color: #0645AD;
}

/* Site Header Menu */

.site-header nav ul li a:link,
.site-header nav ul li a:visited {
	display: block;
	padding: 10px 18px;
	border: 1px solid #888;
	border-bottom: none;
	text-decoration: none;
	margin-right: 5px;
}
.site-header nav ul li a:hover {
	background-color: #ECECEC;
}

.site-header nav ul li.current-menu-item a:link,
.site-header nav ul li.current-menu-item a:visited,
.site-header nav ul li.current-page-ancestor a:link,
.site-header nav ul li.current-page-ancestor a:visited {
	background-color: #006EC3;
	color: #FFF;
}

/* Site-Footer Menu */
.site-footer nav ul li {
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px dotted #BBB;
}

.site-footer nav ul li:last-of-type {
	border-right: none;
}

/* Pages */
article.page h2 {
	font-size: 35px;
}

/* Clearfix */
.clearfix:before, .clearfix:after { content: ""; display: block; }
.clearfix:after { clear:both; }
.clearfix { *zoom: 1; }

/* Two Column Title Layout */
div.title-column {
	width: 30%;
	float:left;
}

div.text-column {
	width: 70%;
	float:right;
}

/* Info-Box Styles */
div.info-box {
	width: 30%;
	float: right;
	margin: 0 0 30px 30px;
	padding: 20px;
	background-color: #EEE;
}

div.info-box h4 {
	margin-bottom: 6px;
}

div.info-box p {
	font-size: 85%;
}

/* Children Links */
.children-links {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 90%;
}

.children-links ul {
	float: left;
}

.children-links .current_page_item a:link,
.children-links .current_page_item a:visited {
	border-bottom: 1px solid #DDD;
	color: #333;
	cursor: default;
}

.children-links li {
	margin-right: 20px;
}

.children-links a:link,
.children-links a:visited {
	text-decoration: none;
}

.children-links a:hover {
	text-decoration: underline;
}

.children-links .parent-link {
	float:left;
	border-right: 1px solid #DDD;
	margin-right: 10px;
	padding-right: 10px;
	font-size: 110%;
	font-weight: bold;
}

.children-links .parent-link a:link,
.children-links .parent-link a:visited {
	color: #333;
}

/* Post Style */
.post h2 {
	margin-bottom: 0px;
}

p.post-info {
	font-size: 87%;
	color: #999;
	margin-top: 0px;
}

p.post-info a:link,
p.post-info a:visited {
	color: #999;
}

